<!DOCTYPE html>
<html ng-controller="Todo as $ctrl">
<head>
	<meta charset="utf-8">
	<title ng-bind-template="{{::$ctrl.todo.user}}'s TO DO List"></title>
	<link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="vendor/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="vendor/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/ng-cloak.css" rel="stylesheet">
</head>
<body ng-cloak>
	<div class="container">
		<!-- <div ng-include="'page-header.html'"></div> -->
		<div header></div>
		<div class="panel">
			<form novalidate name="newTask">
				<div class="form-group">
					<label for="action">Action:</label>
					<div class="input-group">
						<input id="action" name="action" class="form-control" ng-model="$ctrl.newItem.action" />
						<span class="input-group-btn">
							<button class="btn btn-primary" ng-click="$ctrl.addNewItem($ctrl.todo.items, $ctrl.newItem)" ng-disabled="!$ctrl.newItem.action">Add</button>
						</span>
					</div>
				</div>
			</form>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> To Do List
			</div>
			<div class="panel-body">
				<todo-list></todo-list>
				<label>
					<input type="checkbox" ng-model="$ctrl.showComplete">Show complete
				</label>
				<br />
				<button ng-click="$ctrl.removeAllCompletedTasks($ctrl.todo.items)" ng-if="$ctrl.incompleteCount($ctrl.todo.items) < $ctrl.todo.items.length">Remove all completed tasks</button>
			</div>
		</div>
	</div>

	<script src="vendor/angular/angular.js"></script>
	<script src="vendor/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="vendor/angular-xeditable/dist/js/xeditable.js"></script>
	<script src="js/app.js"></script>
	<script src="js/app.controller.js"></script>
	<script src="js/app.todoservice.js"></script>
	<script src="js/app.directives.js"></script>
	<script src="js/app.filters.js"></script>
</body>
</html>