<div class="page-header">
	<h1>
		<img class="photo" ng-src="{{::$ctrl.todo.userPhoto}}">
		{{::$ctrl.todo.user}}'s To Do List
		<span
			class="label label-default"
			ng-if="$ctrl.incompleteCount($ctrl.todo.items) !== 0"
			ng-class="$ctrl.warningLevel($ctrl.todo.items)">
			{{$ctrl.incompleteCount($ctrl.todo.items)}}
		</span>
	</h1>
</div>