<style type="text/css">
	.undone {
		background-color: #F0FFF0;
	}

</style>
<table class="table">
	<thead>
		<tr>
			<th><input type="checkbox" ng-model="$ctrl.todo.doneAll" ng-click="$ctrl.doneAll($ctrl.todo)" /></th>
			<th>#</th>
			<th ng-click="$ctrl.setFilter($ctrl.todo, 'action')">
				Description
				<span ng-show="$ctrl.todo.sortType == 'action'" class="glyphicon" ng-class="$ctrl.todo.sortOrder ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'"></span>
			</th>
			<th ng-click="$ctrl.setFilter($ctrl.todo, 'done')">
				Done
				<span ng-show="$ctrl.todo.sortType == 'done'" class="glyphicon" ng-class="$ctrl.todo.sortOrder ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'"></span>
			</th>
			<th ng-click="$ctrl.setFilter($ctrl.todo, 'deadline')">
				Deadline
				<span ng-show="$ctrl.todo.sortType == 'deadline'" class="glyphicon" ng-class="$ctrl.todo.sortOrder ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'"></span>
			</th>
			<th ng-click="$ctrl.setFilter($ctrl.todo, 'responsible')">
				Responsible
				<span ng-show="$ctrl.todo.sortType == 'responsible'" class="glyphicon" ng-class="$ctrl.todo.sortOrder ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'"></span>
			</th>
			<th ng-click="$ctrl.setFilter($ctrl.todo, 'estimation')">
				Est. Hours
				<span ng-show="$ctrl.todo.sortType == 'estimation'" class="glyphicon" ng-class="$ctrl.todo.sortOrder ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'"></span>
			</th>
			<th ng-click="$ctrl.setFilter($ctrl.todo, 'priority')">
				Priority
				<span ng-show="$ctrl.todo.sortType == 'priority'" class="glyphicon" ng-class="$ctrl.todo.sortOrder ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'"></span>
			</th>
			<th class="text-right">Commands</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in $ctrl.todo.items | checkedItems: $ctrl.showComplete | orderBy: $ctrl.todo.sortType: $ctrl.todo.sortOrder" ng-class="{'undone' : !item.done && $ctrl.missDeadline(item.deadline)}">
			<td><input type="checkbox" ng-model="item.done"/></td>
			<td><span ng-bind-template="{{$index + 1}}">1</span></td>
			<td><span editable-text="item.action" e-name="action" e-form="rowForm" buttons="no">{{item.action}}</span></td>
			<td><span ng-bind-template="{{item.done ? 'Yes' : 'No'}}">No</span></td>
			<!-- <td editable-checkbox="item.done" e-title="Done?">{{item.done && "Yes" || "No"}}</td> -->
			<td><span editable-date="item.deadline" e-name="action" e-form="rowForm">{{item.deadline| date: 'yyyy/MM/dd'}}</span></td>
			<td><span editable-text="item.responsible" e-name="action" e-form="rowForm" buttons="no">{{item.responsible || 'nobody'}}</span></td>
			<td><span editable-number="item.estimation" e-name="action" e-form="rowForm" buttons="no">{{item.estimation || 0}}</span></td>
			<td><span ng-bind="$ctrl.convertPriority(item.priority)"></span></td>
			<!-- Buttons -->
			<td class="text-right">
				<form editable-form name="rowForm" ng-show="rowForm.$visible">
					<button type="submit" ng-disabled="rowForm.$waiting" class="btn btn-primary">
						<span class="glyphicon glyphicon-ok" aria-hidden="true" title="OK"></span>
					</button>
          			<button type="button" ng-disabled="rowForm.$waiting" class="btn btn-default">
          				<span class="glyphicon glyphicon-remove" aria-hidden="true" title="Cancel" ng-click="rowForm.$cancel()"></span>
          			</button>
				</form>
				<div ng-show="!rowForm.$visible">
					<button 
						type="button" 
						class="btn btn-primary">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"
							title="Edit" ng-click="rowForm.$show()"></span>
					</button>
					<button 
						type="button" 
						class="btn btn-danger">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"
							title="Delete" ng-click="$ctrl.removeTask($ctrl.todo.items, item)"></span>
					</button>
				</div>
			</td>
		</tr>
	</tbody>
</table>